{% extends 'index.html' %}

{% load static %}

{% block content %}

<link href="{% static 'login_static/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="User Login Form Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--google fonts-->
<link href='//fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<script src="{% static 'login_static/js/jquery-2.1.4.min.js' %}"></script>

<body>		
	<!-- login -->
		{% if login %}
		<div class="login-section">
	        <div class="login w3l">	
				<div class="modal-content modal-info">
					<div class="modal-header">
							<h2>Вход в Tazarapp</h2>
							<div class="lo-im w3agile">							
								<img src="{% static 'login_static/images/john.png' %}" title="john" alt="john" />	
							</div>
					</div>
					<div class="modal-body modal-spa">
						<div class="login-form">			
							<form action="#" method="post">
								{% csrf_token %}
								<input type="text" class="user" name="username" placeholder="Имя пользователя" required="" />
								<input type="password" class="lock" name="password" placeholder="Пароль" required="" />
								<div class="signin-rit">
									<span class="checkbox1">
										<label class="checkbox"><input type="checkbox" name="checkbox" checked="">Запомнить</label>
									</span>
									<a class="forgot" href="">Забыли пароль?</a>
								<div class="clear"> </div>
								</div>
								<input type="submit" value="Войти">
								
							</form>	
							<p><a href="{% url 'registration' %}"><input type="submit" value="Зарегистрироваться"></a></p>
							<h5 class="or">(или)</h5>
							<div class="social-icons agile">
								<ul>
									<li><a href="#" class="facebook"><img src="{% static 'login_static/images/fb.png' %}" title="facebook" alt="facebook" /></a></li>
									<li><a href="#" class="twitter"><img src="{% static 'login_static/images/tw.png' %}" title="twitter" alt="twitter" /></a></li>
									<li><a href="#" class="googleplus"><img src="{% static 'login_static/images/gp.png' %}" title="googleplus" alt="googleplus" /></a></li>
								</ul>	
							</div>
						</div>								
					</div>
				</div>
			<!-- //login -->

		</div>
		{% elif register %} 
		<div class="signup-section">
			<div class="signup">
				<div class="modal-content modal-info">
					<div class="modal-header">				
						<h3>Регистрация в Tazar</h3>						
					</div>
					<div class="lo-im w3agile" style="text-align:center;">							
						<img src="{% static 'login_static/images/john.png' %}" title="john" alt="john" />	
					</div>
					<div class="modal-body modal-spa">
						<div class="login-form">					
							<form action="#" method="post" id="signup">
								{% csrf_token %}
							<ol>
								<li>
								<input type="text" id="username" name="username" placeholder="Имя пользователя" title="Name" required />
								</li>
								<li>
								<input type="text" id="first_name" name="first_name" placeholder="Имя" title="Name" required />
								</li>
								<li>
									<input type="text" id="last_name" name="last_name" placeholder="Фамилия" title="Name" required />
									
								</li>
								<li>
									<input type="email" id="email" name="email" placeholder="Mail@example.com" title="Введите электронную почту" required />
									<p class="validation01">
										<span class="invalid">Введите электронную почту   <a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="17656e767957726f767a677b723974787a">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></span>
										<span class="valid">Спасибо за ввод электронной почты</span>
									</p>
								</li>
								<li>
									<input type="tel" id="tel" name="tel" pattern="\d{12}" placeholder="Введите номер" required />
									<p class="validation01">
										<span class="invalid">Введите номер телефона в формате: 996556557554</span>
										<span class="valid">Это то, что мы хотели!</span>
									</p>
								</li>
								<li>
									<input type="text" id="address" name="address" placeholder="Адрес проживания" title="Address" required />
								</li>
								<li>
									<input type="password" class="lock" name="password" title="Minimum 8 characters, one number, one uppercase and one lowercase letter" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*" placeholder="Password" id="password" required />
									<p class="validation01">
										<span class="invalid">Минимум 8 символов, одна цифра, одна заглавная буква и одна строчная буква.</span>
										<span class="valid">Ваш пароль соответствует нашим требованиям, спасибо.</span>
									</p>
								</li>
								<li>
									<input type="password" class="lock" name="password1" title="Minimum 8 characters, one number, one uppercase and one lowercase letter" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*" placeholder="Confirm Password" id="password1" required />
									<p class="validation01">
										<span class="invalid">Минимум 8 символов, одна цифра, одна заглавная буква и одна строчная буква.</span>
										<span class="valid">Ваш пароль соответствует нашим требованиям, спасибо.</span>
									</p>
								</li>
								</ol>
								<div class="signin-rit">
									<span class="checkbox1">
										<label class="checkbox"><input type="checkbox" name="checkbox" checked="">I agree to <a class="pp" href="#"> Terms</a> and <a class="pp" href="#"> Privacy Policy</a></label>
									</span>
									<div class="clear"> </div>
								</div>
								<input type="submit" value="Зарегистрироваться">
							</form>	
							<p><a href="{% url 'login' %}"><p><a href="{% url 'login' %}"><input type="submit" value="Войти"></a></p></a></p>
							<!-- script for password confirmation -->
							<script type="text/javascript">
								window.onload = function () {
									document.getElementById("password1").onchange = validatePassword;
									document.getElementById("password2").onchange = validatePassword;
								}
								function validatePassword(){
								var pass2=document.getElementById("password2").value;
								var pass1=document.getElementById("password1").value;
								if(pass1!=pass2)
									document.getElementById("password2").setCustomValidity("Passwords Don't Match");
								else
								document.getElementById("password2").setCustomValidity('');	 
								//empty string means no validation error
								}
							</script>
							<!-- //script for password confirmation -->                                                             
							</div>									
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		<div class="clear"></div>
		</div> 
		<div class="clear"></div>
		<p class="footer"><a href="http://w3layouts.com/"></a></p>
</body>
{% endblock content %}