{% extends 'index.html' %}

{% load static %}

{% block content %}

    <section id="blog">
        <div class="col-md-12">
            <div class="latest_blog text-center">
                <h2>Точки приема отходов</h2>
            </div>
        <br>
        <form action="{% url 'places' %}" method="get">
            <div class="input-group container">
                <div class="form-outline">
                    <input type="search" name="search_word" id="form1" class="form-control" />
                </div>
            <br>
            <br>
                <button type="submit" class="btn btn-primary" >
                <p>Искать по принимаемым сырьям.</p>
                <p>Пример: Макулатура</p>
                </button>
            </div>
        </form>
        <div class="sumbit" style="text-align: center;">
            <a type="button" style="width:55%; margin-top: 20px; padding:10px;" href="{% url 'post' %}" class="btn btn-success"> Подать объявление в Tazar!</a>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                {% for i in object_list %}
                    <div class="col-md-4">
                        <div class="blog_news">
                            <div class="single_blog_item">
                                <div class="blog_img">
                                    <img src="{{ i.photo.url }}" alt="">
                                </div>
                                <div class="blog_content">
                                    <a href="{{ i.urls }}" target="_blank"><h3>{{ i.name }}</h3></a>
                                    <div class="expert">
                                        <div class="left-side text-left">
                                            <p class="left_side">
                                                <span><i class="fa fa-phone">{{ i.phone }}</i></span><br>
                                                <span class="phone"> </span>
                                                <a href=""><span class="email"><i class="fa fa-email"></i>{{ i.address }}</span></a>
                                            </p>
                                        </div>
                                    </div>
                                    <a href="{% url 'place_detail' pk=i.pk%}" target="_blank" class="blog_link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %} 