{% extends 'index.html' %}

{% load static %}

{% block content %}


<section id="blog">
    <div class="container">
        <div class="row">
            {% for post in object_list %}
                <div class="col-md-4">
                    <div class="blog_news">
                        <div class="single_blog_item">
                            <div class="blog_img">
                                <img src="{{ post.user }}" alt="">
                            </div>
                            <div class="blog_content">
                                <a href="{{ post.urls }}" target="_blank"><h3>{{ post.name }}</h3></a>
                                <div class="expert">
                                    <div class="left-side text-left">
                                        <p class="left_side">
                                            <span><i class="fa fa-phone">{{ post.phone }}</i></span><br>
                                            <span class="phone"> </span>
                                            <a href=""><span class="email"><i class="fa fa-email"></i>{{ post.address }}</span></a>
                                        </p>
                                    </div>
                                </div>
                                <a href="{% url 'place_detail' pk=i.pk%}" target="_blank" class="blog_link">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %} 